{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/chat.css">
{% endblock css %}

{% block content %}
<div class="chat-container">
    <div>
        <input id="search-profiles">
        <div id="founded_profiles" class="founded_profiles"></div>
        <div class="groups">
            {% for group in groups %}
            <a href="{% url 'room' group_id=group.id %}"
                class="profile {% if group_id == group.id %} selected-group {% endif %}">
                <div class="profile-img"><img src='{{group.picture}}'></div>
                <div class="profile-info">
                    <div>{{group.name}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% if group_id %}
    <div class="messenger">
        <div id="messages-container" class="messages-container">
            <div id="messages" class="messages">

            </div>
        </div>
        <div id="replied-from"></div>
        <div class="messasge-input">
            <input id="chat-message-input" type="text">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        {{ group_id|json_script:"group-id" }}
    </div>
    {% endif %}
    <img src="/static/img/giffs/chat-loader.gif" style="display: none;">
</div>
{% endblock content %}

{% block js %}
{% autoescape off %}
<script>
    const sender = '{{request.user.id}}'
    const sender_name = '{{request.user.name}}'
    const messages = '{{messages_data}}'
    var group_id
    try {
        group_id = JSON.parse(document.getElementById('group-id').textContent);
    }
    catch {
        group_id = null
    }

    get_date_html(new Date())

    function get_date_html(time) {
        const month = time.toLocaleString('default', { month: 'long' });
        const last_msg_date = $('#messages > .date-container:first > div').text().trimStart().trimEnd()
        const last_msg_month = last_msg_date.split(' ')[0]
        const last_msg_day = last_msg_date.split(' ')[1]
        let msg_date
        let today = time.getUTCDate()
        today = today < 10 ? '0' + today: today.toString()
        if(last_msg_date.split(' ').length > 2 || last_msg_month != month || last_msg_day != today) {
            msg_date = month + ' ' + today
        }
        
        if(msg_date) {
            return `<div class="date-container">
                        <div class="date">
                            ${msg_date}
                        </div>
                    </div>`
        }
        return ''
    }

    function create_message_html(message, value_id) {
        let time = new Date()
        let sent_time = time.getUTCHours() + ':' + time.getUTCMinutes()
        let sent_time_sec = time.getUTCHours() + ':' + time.getUTCMinutes() + ':' + time.getUTCSeconds()
        let date_html = get_date_html(time)
        delete time
        let other_styles = ''
        return `<div class="message-info-container" style="align-items: flex-end;" value='${value_id}'>
                    <div class="message-info">
                        <div class="message-text">
                            <div class="message-header">
                                ${sender_name}
                            </div>
                            ${message}
                            <div class="message-sent-time">
                                ${sent_time}
                                <div class='msg-status'>
                                    <img src="/static/img/giffs/chat-loader.gif">
                                </div>
                            </div>
                            <div class='msg-buttons'>
                                <div class='reply-msg' value=''>
                                    Reply
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                ` + date_html

                // value='${sent_time_sec}|${sender}' - this is bad solution
    }

    function run_socket() {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + group_id
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let value_id = data.value_id
            $(`.message-info-container[value=${value_id}]`).find('.msg-status').html('<img src="/static/img/imgs/accepted.png">')
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            let value_id = (Math.random() + 1).toString(36).substring(7);
            chatSocket.send(JSON.stringify({
                'id': value_id,
                'message': message,
                'sender': sender,
                'replied_from': $("#replied-from").text()
            }));
            document.querySelector('#messages').innerHTML = create_message_html(message, value_id) + document.querySelector('#messages').innerHTML;
            messageInputDom.value = '';
        };
    }

    if (group_id) {
        run_socket()
    }
</script>
{% endautoescape %}
<script>
    $(document).ready(function () {
        $('#search-profiles').on('keyup', function () {
            value = $(this).val()
            if (!value) {
                $('#founded_profiles').html('')
                return
            }
            $.ajax({
                method: 'GET',
                url: `/chat/get-profiles/search=${value}/`,
                dataType: 'json',
                success: function (profiles) {
                    let html_code = ""
                    for (let i = 0; i < profiles.length; ++i) {
                        html_code += `
                        <a href="/chat/redirect-to-personal-chat/${profiles[i]['id']}/" class="founded-profile">
                            <div class="founded-profile-img"><img src='${profiles[i]['image']}''></div>
                            <div class="founded-profile-info">
                                <div>${profiles[i]['name']}</div>
                                <div>${profiles[i]['email']}</div>
                            </div>
                        </a>
                        `
                    }
                    $('#founded_profiles').html(html_code)
                }
            })
        })
    })
</script>
<script src="/static/js/chat/get-messages.js"></script>
<script src="/static/js/chat/reply.js"></script>
{% endblock js %}