{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/chat.css">
{% endblock css %}

{% block content %}
<div class="chat-container">
    <div>
        <input id="search-profiles">
        <div id="founded_profiles" class="founded_profiles"></div>
        <div class="groups">
            {% for group in groups %}
            <a href="{% url 'room' group_id=group.id %}" class="profile">
                <div class="profile-img"><img src='{{group.picture}}'></div>
                <div class="profile-info">
                    <div>{{group.name}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% if group_id %}
    <div>
        <div id="messenger"></div>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        {{ group_id|json_script:"group-id" }}
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
<script>
    const sender = '{{request.user.id}}'
    var group_id
    try {
        group_id = JSON.parse(document.getElementById('group-id').textContent);
    }
    catch {
        group_id = null
    }

    function run_socket() {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + group_id
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#messenger').innerHTML += (data.message + '<br>');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender
            }));
            messageInputDom.value = '';
        };
    }

    if (group_id) {
        run_socket()
    }
</script>
<script>
    $(document).ready(function () {
        $('#search-profiles').on('keyup', function () {
            value = $(this).val()
            if (!value) {
                $('#founded_profiles').html('')
                return
            }
            $.ajax({
                method: 'GET',
                url: `/chat/get-profiles/search=${value}/`,
                dataType: 'json',
                success: function (profiles) {
                    let html_code = ""
                    for (let i = 0; i < profiles.length; ++i) {
                        html_code += `
                        <a href="/chat/redirect-to-personal-chat/${profiles[i]['id']}/" class="founded-profile">
                            <div class="founded-profile-img"><img src='${profiles[i]['image']}''></div>
                            <div class="founded-profile-info">
                                <div>${profiles[i]['name']}</div>
                                <div>${profiles[i]['email']}</div>
                            </div>
                        </a>
                        `
                    }
                    $('#founded_profiles').html(html_code)
                }
            })
        })
    })
</script>
{% endblock js %}