{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/auth.css">
{% endblock css %}

{% block content %}
<div class="page">
    <div class="page-content">
        <div class="page-titles">
            <a class="login-title" href="{% url 'login' %}">
                Login
            </a>
            <div class="register-title active">
                Register
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{form.email}}
            {{form.name}}
            {{form.birth_date}}
            {{form.password1}}
            {{form.password2}}
            <button>Register</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}